h2,h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
h1{
    padding:7px;
    text-align: center;
    margin-top: 20px;
}

.greece{
    
}

.boxes{
    display: flex;
    border-top: grey 2px solid;
    margin: 20px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 30px;
    padding:10px;
    font-weight: bold;
}
h2{
    padding:10px;
}

