h1,h2,h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
h1{
    padding:10px;
    text-align: center;
    margin-top: 25px;
}
.boxes{
    display: flex;
    border-top: gray solid 2px;
    margin: 100px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 30px;
    padding:10px;
    font-weight: bold;
}
h2{
    padding:10px;
}
.content{
    background-color: antiquewhite;
}
