body {
  background-color: antiquewhite;
  font-family: "Montserrat", sans-serif;
}
em {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 0px;
  text-decoration: underline;
  font-weight: bold;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  margin-bottom: 10px;
}
.container {
  display: flex;
  margin: 50px;
  margin-top: 10px;
  float: right;
}
hr {
  color: black;
  border-style: dashed;
  /*margin-top: 10px;*/
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-width: 3px;
}
.pic {
  width: 250px;
  float: left;
  margin-right: 10px;
  border: 3px solid darksalmon;
}
p {
  line-height: 30px;
  padding: 10px;
  font-weight: bold;
}
